.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header {
  width: 100%;
  background-color: #192a56;
  padding: 0.25rem;
  color: white;
}

.form {
  margin-top: 1.25rem;

}

.Show-Data {
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0px 1rem;
  border-radius: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}